@media screen and (max-width: 1070px) {
  .container__menu-title h1 {
    font-size: 7rem;
  }
}

@media screen and (max-width: 940px) {
  .container__menu-title h1 {
    font-size: 6rem;
  }
}

@media screen and (max-width: 810px) {
  .container__menu-title h1 {
    font-size: 5rem;
  }
}

@media screen and (max-width: 670px) {
  .container__menu-title h1 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 535px) {
  .container__menu-title h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 410px) {
  .container__menu-title h1 {
    font-size: 2.6rem;
  }
}
