
.container__menu-title hr {
  border: .1px solid #464646;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container__menu-title h1 {
  font-size: 8rem;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

