
<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__left__side">
      <div class="small-card__picture">
        <img src="../../../assets/image-telephone.jpg" alt="woman with telephone">
      </div>
    </div>
    <div class="small-card__right__side">
      <div class="small-card__timestamp">
        <p>January 06, 2023</p>
      </div>
      <div class="small-card__title">
        <h3>How to Create Real Time InApp Notifications in 10minutes - SocketIO + React</h3>
      </div>
    </div>
  </div>
  <div class="container__small-card-hr">
    <hr>
  </div>
</div>


