
<div class="container__small-card">
  <div class="container__small-card-content">
    <div class="small-card__left__side">
      <div class="small-card__picture">
        <img src="{{ photoCover }}" alt="woman with telephone">
      </div>
    </div>
    <div class="small-card__right__side">
      <div class="small-card__timestamp">
        <p>{{ cardTime }}</p>
      </div>
      <div class="small-card__title">
        <a href="#"><h3>{{ cardTitle }}</h3></a>
      </div>
    </div>
  </div>
  <div class="container__small-card-hr">
    <hr>
  </div>
</div>


