.container__content {
  border: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.content__cover img {
  border: 1px rgb(144, 144, 144) solid;
  max-width: 600px;
  border-radius: 5px;
}

.content__title {
  margin-top: 15px;
}

.content__description {
  margin-top: 15px;
}

.content__description h2 {
  color: #5D5D5D;
}
