.container__articles {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
}

.articles__main {
  margin-right: 80px;
}

header {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}
