<app-menu-title></app-menu-title>

<div class="container__articles">

  <div class="articles__main">
    <app-big-card
    Id="1"
    photoCover="../../../assets/angular-cover.webp"
    cardTitle="Angular v15 is now available!"
    cardDescription="Over the past year we removed Angular’s legacy compiler and rendering pipeline which enabled the development of a series of developer experience improvements in the past couple of months." ></app-big-card>
  </div>

  <div class="articles_others">
    <app-small-card
    Id="2"
    photoCover="../../../assets/image-telephone.jpg"
    cardTime="January 02, 2023"
    cardTitle="How to Create Real Time InApp Notifications in 10 minutes"
    ></app-small-card>

    <app-small-card
    Id="3"
    photoCover="../../../assets/quantum.jpg"
    cardTime="January 14, 2023"
    cardTitle="The Need, Promise, and Reality of Quantum Computing"
    ></app-small-card>

    <app-small-card
    Id="4"
    photoCover="../../../assets/tech-work.jpg"
    cardTime="January 19, 2023"
    cardTitle="Challenges in Automotive Software Engineering"
    ></app-small-card>

  </div>

</div>
