<nav class="container__menu-bar">
  <div class="menu-bar__logo-pages__lefside">
    <a href=""><img src="" alt=""></a>
    <ul>
      <li>BLOG</li>
      <li>ABOUT</li>
      <li>CONTACT</li>
    </ul>
  </div>
  <div class="menu-bar__social-media__rightside">
    <ul>
      <li><a href="https://www.linkedin.com/in/francisco-silva-dev/" target="_blank">LinkedIn</a></li>
      <li><span>•</span></li>
      <li><a href="https://github.com/Burntroll" target="_blank">Github</a></li>
      <li><span>•</span></li>
      <li><a href="https://wa.me/+79855355415" target="_blank">WhatsApp</a></li>
      <li><span>•</span></li>
      <li><a href="https://t.me/Burntroll" target="_blank">Telegram</a></li>
    </ul>
  </div>
</nav>


